.modal {
  position: relative;
  background: rgba(181, 181, 181, 0.8);
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
}

.close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20%;
  right: 50%;
  background-image: url(../../../public/images/close.png);
  background-repeat: no-repeat;
  background-size: contain;
}
